@font-face {
  font-family: Bitmap;
  src: url('/font/Bitmap-Regular.ttf');
}
body {
  font-family: Bitmap;
  font-weight: 800;
  background-color: blue;
}
.module {
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  background: white;
  z-index: 5;
}
.module:before,
.module:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
}
.module:before {
  top: -15px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.module:after {
  bottom: -15px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}
.border {
  z-index: 2;
  display: inline-block;
  background: #aaaaaa;
  position: relative;
  background-color: #aaaaaa;
  padding: 3px;
}
.border:before,
.border:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
}
.border:before {
  top: -15px;
  border-top-width: 0;
  border-bottom-color: #aaaaaa;
}
.border:after {
  bottom: -15px;
  border-top-color: #aaaaaa;
  border-bottom-width: 0;
}
