.ftlButton {
  position: relative;
  background-color: #000000;
  z-index: 100;
  display: inline-block;
  vertical-align: top;
  padding: 1px;
  text-align: center;
}
.ftlButton:before,
.ftlButton:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.ftlButton:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #000000;
}
.ftlButton:after {
  bottom: -5px;
  border-top-color: #000000;
  border-bottom-width: 0;
}
.ftlButton > * {
  position: relative;
  background-color: #ecf4e7;
  z-index: 100;
  cursor: pointer;
  font-size: 0.6em;
}
.ftlButton > *:before,
.ftlButton > *:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.ftlButton > *:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #ecf4e7;
}
.ftlButton > *:after {
  bottom: -5px;
  border-top-color: #ecf4e7;
  border-bottom-width: 0;
}
.ftlButton > *:hover {
  position: relative;
  background-color: #f6eea3;
  z-index: 100;
}
.ftlButton > *:hover:before,
.ftlButton > *:hover:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.ftlButton > *:hover:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #f6eea3;
}
.ftlButton > *:hover:after {
  bottom: -5px;
  border-top-color: #f6eea3;
  border-bottom-width: 0;
}
.menu {
  position: relative;
  background-color: #ecf4e7;
  z-index: 100;
  padding: 6px;
  display: inline-block;
}
.menu:before,
.menu:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 16px;
}
.menu:before {
  top: -16px;
  border-top-width: 0;
  border-bottom-color: #ecf4e7;
}
.menu:after {
  bottom: -16px;
  border-top-color: #ecf4e7;
  border-bottom-width: 0;
}
.menu .title {
  font-family: Bitmap;
  position: absolute;
  top: -10px;
  z-index: 200;
  background-color: #ecf4e7;
  left: 6px;
  border-top-left-radius: 9px;
  text-transform: uppercase;
  font-size: 0.7em;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-shadow: 2px 0px black, 0px 2px black, 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black, 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black, 1px 2px black, -1px 2px black, 1px -2px black, -1px -2px black, 2px 1px black, 2px -1px black, -2px 1px black, -2px -1px black;
  color: #ecf4e7;
}
.menu .title > * {
  margin-top: -8px;
}
.menu .title:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 100%;
  top: 0;
  box-sizing: border-box;
  border-color: transparent;
  border-style: solid;
  border-width: 30px;
  border-bottom-width: 0;
  border-top-color: #ecf4e7;
  border-left-width: 0;
}
.menu .content {
  position: relative;
  background-color: #292421;
  z-index: 100;
  padding-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
}
.menu .content:before,
.menu .content:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 16px;
}
.menu .content:before {
  top: -16px;
  border-top-width: 0;
  border-bottom-color: #292421;
}
.menu .content:after {
  bottom: -16px;
  border-top-color: #292421;
  border-bottom-width: 0;
}
@font-face {
  font-family: Bitmap;
  src: url('/font/Bitmap-Regular.ttf');
}
@font-face {
  font-family: ccnew;
  src: url('/font/c&cnew.ttf');
}
@font-face {
  font-family: jType;
  src: url('/font/JustinFont12.ttf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  border: 0;
}
body {
  background-color: black;
  font-family: ccnew;
  font-size: 2em;
  min-height: 100%;
}
body .container {
  position: relative;
  height: 800px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('/img/FTL bg dark2.png');
}
.shipSelector {
  position: absolute;
  top: 170px;
  left: 30px;
  width: 236px;
}
.shipSelector .shipSelect__container .shipChoice {
  position: relative;
  background-color: #7c6464;
  z-index: 100;
  display: inline-block;
  vertical-align: top;
  height: 60px;
  width: 100px;
  margin-top: 30px;
  cursor: pointer;
}
.shipSelector .shipSelect__container .shipChoice:before,
.shipSelector .shipSelect__container .shipChoice:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
}
.shipSelector .shipSelect__container .shipChoice:before {
  top: -10px;
  border-top-width: 0;
  border-bottom-color: #7c6464;
}
.shipSelector .shipSelect__container .shipChoice:after {
  bottom: -10px;
  border-top-color: #7c6464;
  border-bottom-width: 0;
}
.shipSelector .shipSelect__container .shipChoice img {
  width: 100%;
}
.shipSelector .shipSelect__container .shipChoice:hover,
.shipSelector .shipSelect__container .shipChoice .selected {
  position: relative;
  background-color: #f6eea3;
  z-index: 100;
}
.shipSelector .shipSelect__container .shipChoice:hover:before,
.shipSelector .shipSelect__container .shipChoice .selected:before,
.shipSelector .shipSelect__container .shipChoice:hover:after,
.shipSelector .shipSelect__container .shipChoice .selected:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
}
.shipSelector .shipSelect__container .shipChoice:hover:before,
.shipSelector .shipSelect__container .shipChoice .selected:before {
  top: -10px;
  border-top-width: 0;
  border-bottom-color: #f6eea3;
}
.shipSelector .shipSelect__container .shipChoice:hover:after,
.shipSelector .shipSelect__container .shipChoice .selected:after {
  bottom: -10px;
  border-top-color: #f6eea3;
  border-bottom-width: 0;
}
.shipSelector .shipTypeOption {
  position: relative;
  background-color: #ecf4e7;
  z-index: 100;
  text-shadow: 3px 0px black, 0px 3px black, 3px 3px black, -3px 3px black, 3px -3px black, -3px -3px black, 3px 3px black, 3px -3px black, -3px 3px black, -3px -3px black, 2px 3px black, -2px 3px black, 2px -3px black, -2px -3px black, 3px 2px black, 3px -2px black, -3px 2px black, -3px -2px black, 1px 3px black, -1px 3px black, 1px -3px black, -1px -3px black, 3px 1px black, 3px -1px black, -3px 1px black, -3px -1px black;
  color: #ecf4e7;
  display: inline-block;
  vertical-align: top;
  height: 23px;
  margin-top: 30px;
  margin-left: 11px;
  margin-right: 11px;
  padding: 0px 13px;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1em;
  text-align: center;
}
.shipSelector .shipTypeOption:before,
.shipSelector .shipTypeOption:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
}
.shipSelector .shipTypeOption:before {
  top: -10px;
  border-top-width: 0;
  border-bottom-color: #ecf4e7;
}
.shipSelector .shipTypeOption:after {
  bottom: -10px;
  border-top-color: #ecf4e7;
  border-bottom-width: 0;
}
.shipSelector .shipTypeOption > * {
  margin-top: -8px;
}
.shipSelector .shipTypeOption:hover,
.shipSelector .shipTypeOption .selected {
  position: relative;
  background-color: #f6eea3;
  z-index: 100;
  color: #f6eea3;
}
.shipSelector .shipTypeOption:hover:before,
.shipSelector .shipTypeOption .selected:before,
.shipSelector .shipTypeOption:hover:after,
.shipSelector .shipTypeOption .selected:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
}
.shipSelector .shipTypeOption:hover:before,
.shipSelector .shipTypeOption .selected:before {
  top: -10px;
  border-top-width: 0;
  border-bottom-color: #f6eea3;
}
.shipSelector .shipTypeOption:hover:after,
.shipSelector .shipTypeOption .selected:after {
  bottom: -10px;
  border-top-color: #f6eea3;
  border-bottom-width: 0;
}
.addCrew {
  position: absolute;
  top: 600px;
  left: 50px;
}
.addCrew .addCrewContainer {
  width: 166px;
  padding-right: 10px;
  padding-left: 10px;
}
.addCrew .addCrewContainer .newCrewCard {
  position: relative;
  background-color: #7c6464;
  z-index: 100;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  margin-top: 18px;
  cursor: pointer;
}
.addCrew .addCrewContainer .newCrewCard:before,
.addCrew .addCrewContainer .newCrewCard:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.addCrew .addCrewContainer .newCrewCard:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #7c6464;
}
.addCrew .addCrewContainer .newCrewCard:after {
  bottom: -5px;
  border-top-color: #7c6464;
  border-bottom-width: 0;
}
.addCrew .addCrewContainer .newCrewCard img {
  height: 100%;
}
.addCrew .addCrewContainer .newCrewCard:hover {
  position: relative;
  background-color: #f6eea3;
  z-index: 100;
}
.addCrew .addCrewContainer .newCrewCard:hover:before,
.addCrew .addCrewContainer .newCrewCard:hover:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.addCrew .addCrewContainer .newCrewCard:hover:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #f6eea3;
}
.addCrew .addCrewContainer .newCrewCard:hover:after {
  bottom: -5px;
  border-top-color: #f6eea3;
  border-bottom-width: 0;
}
.shipCrew {
  position: absolute;
  top: 470px;
  right: 30px;
  width: 320px;
}
.shipCrew .content {
  padding-top: 12px;
}
.shipCrew .crewContainer {
  min-height: 195px;
}
.shipCrew .crewContainer .crewCard {
  position: relative;
  background-color: #ecf4e7;
  z-index: 100;
  padding: 3px;
  display: inline-block;
  height: 25px;
  margin-top: 15px;
}
.shipCrew .crewContainer .crewCard:before,
.shipCrew .crewContainer .crewCard:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.shipCrew .crewContainer .crewCard:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #ecf4e7;
}
.shipCrew .crewContainer .crewCard:after {
  bottom: -5px;
  border-top-color: #ecf4e7;
  border-bottom-width: 0;
}
.shipCrew .crewContainer .crewCard > *:not(:last-child) {
  margin-right: -7px;
}
.shipCrew .crewContainer .crewCard .crew__image {
  position: relative;
  background-color: #7c6464;
  z-index: 100;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  cursor: pointer;
}
.shipCrew .crewContainer .crewCard .crew__image:before,
.shipCrew .crewContainer .crewCard .crew__image:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.shipCrew .crewContainer .crewCard .crew__image:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #7c6464;
}
.shipCrew .crewContainer .crewCard .crew__image:after {
  bottom: -5px;
  border-top-color: #7c6464;
  border-bottom-width: 0;
}
.shipCrew .crewContainer .crewCard .crew__image img {
  height: 100%;
}
.shipCrew .crewContainer .crewCard .crew__name {
  position: relative;
  background-color: #292421;
  z-index: 100;
  font-family: jType;
  display: inline-block;
  vertical-align: top;
  width: 182px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 0.4em;
  color: white;
}
.shipCrew .crewContainer .crewCard .crew__name:before,
.shipCrew .crewContainer .crewCard .crew__name:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.shipCrew .crewContainer .crewCard .crew__name:before {
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #292421;
}
.shipCrew .crewContainer .crewCard .crew__name:after {
  bottom: -5px;
  border-top-color: #292421;
  border-bottom-width: 0;
}
.shipCrew .crewContainer .crewCard .crew__remove,
.shipCrew .crewContainer .crewCard .crew__newName {
  width: 30px;
}
.ship__image {
  position: absolute;
  left: 50%;
  top: 140px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.shipNameContainer {
  position: relative;
  background-color: #ecf4e7;
  z-index: 100;
  display: inline-block;
  padding: 6px;
  margin: 30px;
}
.shipNameContainer:before,
.shipNameContainer:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
}
.shipNameContainer:before {
  top: -10px;
  border-top-width: 0;
  border-bottom-color: #ecf4e7;
}
.shipNameContainer:after {
  bottom: -10px;
  border-top-color: #ecf4e7;
  border-bottom-width: 0;
}
.shipNameContainer .shipName {
  position: relative;
  background-color: #000000;
  z-index: 100;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.4em;
  color: #ecf4e7;
}
.shipNameContainer .shipName:before,
.shipNameContainer .shipName:after {
  content: "";
  z-index: 50;
  position: absolute;
  display: block;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
}
.shipNameContainer .shipName:before {
  top: -10px;
  border-top-width: 0;
  border-bottom-color: #000000;
}
.shipNameContainer .shipName:after {
  bottom: -10px;
  border-top-color: #000000;
  border-bottom-width: 0;
}
.shipNameContainer .shipGenerators {
  display: inline-block;
  vertical-align: top;
  width: 208px;
  /*.bsgBorder(@dark);
		padding-left : 8px;
		padding-right : 8px;
		height : 44px;
*/
}
.shipNameContainer .shipGenerators .shipGeneratorOption {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  font-family: jType;
  text-align: center;
  padding: 3px;
  font-size: 0.4em;
  border: 1px solid #292421;
  cursor: pointer;
  margin-left: -7px;
  margin-top: -3px;
  /*
			.bsgBorder(@white, 3px);
			padding-left: 5px;
			padding-right: 5px;
			margin-right: -5px;
			font-size: 0.6em;
			margin-bottom: 6px;

			&>*:hover{
				.bsgBorder(@yellow, 3px);
			}
			*/
}
.shipNameContainer .shipGenerators .shipGeneratorOption:hover,
.shipNameContainer .shipGenerators .shipGeneratorOption.selected {
  background-color: #f6eea3;
}
.shipNameContainer .shipRename {
  text-shadow: 2px 0px black, 0px 2px black, 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black, 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black, 1px 2px black, -1px 2px black, 1px -2px black, -1px -2px black, 2px 1px black, 2px -1px black, -2px 1px black, -2px -1px black;
  color: #ecf4e7;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}
.shipNameContainer .shipRename:hover {
  color: #f6eea3;
}
